name: Hello Universe
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: jan-lagerpusch/lil-aga-05-05-actions-github@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
